@(sjsType: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ASH</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("main.css")">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">ASH</span>
                    <div class="mdl-layout-spacer"></div>
                    <a class="mdl-button mdl-js-button mdl-button--icon" id="ash-voice">
                        <i class="material-icons">mic</i>
                    </a>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="page-content">
                    <div id="card-container"></div>
                </div>
            </main>
        </div>

        <script src="/assets/ash-@{sjsType}.js"></script>
        <script src="/assets/ash-jsdeps.js"></script>
        <script src="/assets/ash-launcher.js"></script>
    </body>
</html>