@(sjsType: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ASH</title>

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("main.css")">
    </head>
    <body>
        <div id="main-content"></div>

        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
        <script src="/assets/ash-jsdeps.js"></script>
        <script src="/assets/ash-@{sjsType}.js"></script>
        <script src="/assets/ash-launcher.js"></script>
    </body>
</html>